.increment {
  font-family: inherit;
  font-size: inherit;
  padding: 1em 2em;
  color: #c0e9ba;
  background-color: rgba(84, 224, 42, 0.298);
  border-radius: 2em;
  border: 2px solid rgba(213, 255, 215, 0.309);
  outline: none;
  width: 200px;
  font-variant-numeric: tabular-nums;
}

.increment:focus {
  border: 2px solid #519233;
}

.increment:active {
  background-color: rgba(68, 158, 71, 0.2);
}